In [1]:
import pandas as pd
import sqlite3

## SQL Database Creation

In [5]:
pokemon = pd.read_csv("https://raw.githubusercontent.com/MLBurnham/SoDA_496/main/Class%20Materials/Jupyter/pokemon.csv")

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [6]:
pokemon['Type 1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [7]:
con = sqlite3.connect('pokemon.db')

pokemon.to_sql('all_gen', con = con, index = False, if_exists = 'replace')

con.close()

## SQL Database Query

SELECT *columnname* FROM *tablename* WHERE *condition*

In [10]:
con = sqlite3.connect('pokemon.db')

c = con.cursor()

c.execute("""
SELECT name
FROM sqlite_master
WHERE type='table'
""")

tables = c.fetchall()

con.close()

tables

[('all_gen',)]

In [11]:
con = sqlite3.connect('pokemon.db')

c = con.cursor()

c.execute("""
SELECT *
FROM all_gen
WHERE ("Type 1" LIKE 'Water' OR "Type 1" LIKE 'Fire')
AND "Attack" > 100
""")

results = c.fetchall()

con.close()

results

[(6,
  'CharizardMega Charizard X',
  'Fire',
  'Dragon',
  634,
  78,
  130,
  111,
  130,
  85,
  100,
  1,
  0),
 (6,
  'CharizardMega Charizard Y',
  'Fire',
  'Flying',
  634,
  78,
  104,
  78,
  159,
  115,
  100,
  1,
  0),
 (9,
  'BlastoiseMega Blastoise',
  'Water',
  None,
  630,
  79,
  103,
  120,
  135,
  115,
  78,
  1,
  0),
 (59, 'Arcanine', 'Fire', None, 555, 90, 110, 80, 100, 80, 95, 1, 0),
 (98, 'Krabby', 'Water', None, 325, 30, 105, 90, 25, 25, 50, 1, 0),
 (99, 'Kingler', 'Water', None, 475, 55, 130, 115, 50, 50, 75, 1, 0),
 (130, 'Gyarados', 'Water', 'Flying', 540, 95, 125, 79, 60, 100, 81, 1, 0),
 (130,
  'GyaradosMega Gyarados',
  'Water',
  'Dark',
  640,
  95,
  155,
  109,
  70,
  130,
  81,
  1,
  0),
 (136, 'Flareon', 'Fire', None, 525, 65, 130, 60, 95, 110, 65, 1, 0),
 (160, 'Feraligatr', 'Water', None, 530, 85, 105, 100, 79, 83, 78, 2, 0),
 (224, 'Octillery', 'Water', None, 480, 75, 105, 75, 105, 75, 45, 2, 0),
 (244, 'Entei', 'Fire', None, 580, 115, 115, 85, 90, 75, 100, 2, 1),
 (250, 'Ho-oh', 'Fire', 'Flying', 680, 106, 130, 90, 110, 154, 90, 2, 1),
 (257, 'Blaziken', 'Fire', 'Fighting', 530, 80, 120, 70, 110, 70, 80, 3, 0),
 (257,
  'BlazikenMega Blaziken',
  'Fire',
  'Fighting',
  630,
  80,
  160,
  80,
  130,
  80,
  100,
  3,
  0),
 (260, 'Swampert', 'Water', 'Ground', 535, 100, 110, 90, 85, 90, 60, 3, 0),
 (260,
  'SwampertMega Swampert',
  'Water',
  'Ground',
  635,
  100,
  150,
  110,
  95,
  110,
  70,
  3,
  0),
 (319, 'Sharpedo', 'Water', 'Dark', 460, 70, 120, 40, 95, 40, 95, 3, 0),
 (319,
  'SharpedoMega Sharpedo',
  'Water',
  'Dark',
  560,
  70,
  140,
  70,
  110,
  65,
  105,
  3,
  0),
 (323,
  'CameruptMega Camerupt',
  'Fire',
  'Ground',
  560,
  70,
  120,
  100,
  145,
  105,
  20,
  3,
  0),
 (342, 'Crawdaunt', 'Water', 'Dark', 468, 63, 120, 85, 90, 55, 55, 3, 0),
 (367, 'Huntail', 'Water', None, 485, 55, 104, 105, 94, 75, 52, 3, 0),
 (382,
  'KyogrePrimal Kyogre',
  'Water',
  None,
  770,
  100,
  150,
  90,
  180,
  160,
  90,
  3,
  1),
 (392, 'Infernape', 'Fire', 'Fighting', 534, 76, 104, 71, 104, 71, 108, 4, 0),
 (419, 'Floatzel', 'Water', None, 495, 85, 105, 55, 85, 50, 115, 4, 0),
 (484, 'Palkia', 'Water', 'Dragon', 680, 90, 120, 100, 150, 120, 100, 4, 1),
 (500, 'Emboar', 'Fire', 'Fighting', 528, 110, 123, 65, 100, 65, 65, 5, 0),
 (555,
  'DarmanitanStandard Mode',
  'Fire',
  None,
  480,
  105,
  140,
  55,
  30,
  55,
  95,
  5,
  0),
 (565, 'Carracosta', 'Water', 'Rock', 495, 74, 108, 133, 83, 65, 32, 5, 0),
 (721, 'Volcanion', 'Fire', 'Water', 600, 80, 110, 120, 130, 90, 70, 6, 1)]

In [12]:
pd.DataFrame(results)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,0
1,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,0
2,9,BlastoiseMega Blastoise,Water,None,630,79,103,120,135,115,78,1,0
3,59,Arcanine,Fire,None,555,90,110,80,100,80,95,1,0
4,98,Krabby,Water,None,325,30,105,90,25,25,50,1,0
5,99,Kingler,Water,None,475,55,130,115,50,50,75,1,0
6,130,Gyarados,Water,Flying,540,95,125,79,60,100,81,1,0
7,130,GyaradosMega Gyarados,Water,Dark,640,95,155,109,70,130,81,1,0
8,136,Flareon,Fire,None,525,65,130,60,95,110,65,1,0
9,160,Feraligatr,Water,None,530,85,105,100,79,83,78,2,0
10,224,Octillery,Water,None,480,75,105,75,105,75,45,2,0
11,244,Entei,Fire,None,580,115,115,85,90,75,100,2,1
12,250,Ho-oh,Fire,Flying,680,106,130,90,110,154,90,2,1
13,257,Blaziken,Fire,Fighting,530,80,120,70,110,70,80,3,0
14,257,BlazikenMega Blaziken,Fire,Fighting,630,80,160,80,130,80,100,3,0
15,260,Swampert,Water,Ground,535,100,110,90,85,90,60,3,0
16,260,SwampertMega Swampert,Water,Ground,635,100,150,110,95,110,70,3,0
17,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,0
18,319,SharpedoMega Sharpedo,Water,Dark,560,70,140,70,110,65,105,3,0
19,323,CameruptMega Camerupt,Fire,Ground,560,70,120,100,145,105,20,3,0
20,342,Crawdaunt,Water,Dark,468,63,120,85,90,55,55,3,0
21,367,Huntail,Water,None,485,55,104,105,94,75,52,3,0
22,382,KyogrePrimal Kyogre,Water,None,770,100,150,90,180,160,90,3,1
23,392,Infernape,Fire,Fighting,534,76,104,71,104,71,108,4,0
24,419,Floatzel,Water,None,495,85,105,55,85,50,115,4,0
25,484,Palkia,Water,Dragon,680,90,120,100,150,120,100,4,1
26,500,Emboar,Fire,Fighting,528,110,123,65,100,65,65,5,0
27,555,DarmanitanStandard Mode,Fire,None,480,105,140,55,30,55,95,5,0
28,565,Carracosta,Water,Rock,495,74,108,133,83,65,32,5,0
29,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,1